temp
ui/dist
bash.exe.stackdump

# node dirs
node_modules
dist
coverage

# dev env vars and secrets
.env
*.pem
*.pub

# logs and whatnot
telepresence.log
yarn-error.log

# deployment
regcred.yaml
secret.yaml
