<div class="col-4 text-center mb-4">
<div class="grid-img img-fluid" style="background-image: url('assets/img/backgrounds/KyleSciCard.jpg');"></div>
<h4 class="mt-2 mb-0 font-weight-bold"></h4>
<h5 class="mt-0 font-weight-bold">Epic | Ranged</h5>
<h6 class="font-weight-bold">
  <span class="light-blue-text">
    <i class="fa fa-bolt" aria-hidden="true"></i> 3
  </span> <span class="red-text pl-2">
    <i class="fa fa-heart" aria-hidden="true"></i> 127
  </span> <span class="orange-text pl-2">
    <i class="fa fa-shield-alt" aria-hidden="true"></i> <span id="damage">27</span>
  </span>
</h6>
</div>