.grid-card {

  cursor: pointer;
  width: 100%;
  height: 100%;

  .grid-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 100%;
    border: 7px solid;
    border-image-slice: 1;
  }

  h5, p {
    color: $grey;
  }
}

.card-list {
  background-color: white;
}

.card-list-img{
  padding: 0;
}

.capitalism {
  text-transform: capitalize;
}