.grid-card {
  cursor: pointer;
  width: 100%;

  margin-bottom: 3.5rem;

  &.grid {
    @include media-breakpoint-up(lg) {
      transition: all 200ms ease-out;
      &:hover {
        margin-bottom: 0 !important;
        transform: translateY(-7.75%);
        .grid-img {
          &:after {
            padding-bottom: 133%;
          }
        }
      }
    }

    @include media-breakpoint-only(lg) {
      &:hover {
        margin-bottom: -9px !important;
      }
    }
  }

  .grid-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 7px solid;
    border-image-width: 7px;
    border-image-slice: 1;
  }
  .grid-img:after {
    content: "";
    display: block;
    padding-bottom: 100%;
    transition: padding-bottom 200ms ease-out;
  }

  .inner {
    border: 7px solid;
    border-image-width: 7px;
    border-image-slice: 1;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .inner-content {
    height: 100%;
    width: 100%;
    padding-top: 7px;
    background-color: rgba(255, 255, 255, 0.85);
    padding-bottom: 1px;
  }

  h5,
  p {
    color: $grey;
  }
}

.card-list {
  background-color: white;
}

.card-list-img {
  padding: 0;
}

.capitalism {
  text-transform: capitalize;
}

#card-page {
  margin-top: 6rem;

  h1 {
    border-bottom: 5px solid $sppd;
  }
}

#card-info {
  #class,
  #desc {
    color: $grey;
  }

  .divider {
    height: 5px;
    display: block;
    background-color: $sppd;
    margin: 1em 0;
    width: 67px;
  }

  select {
    background-color: $dwhite;
    border: none;
    border-bottom: 2px solid $sppd;
    border-radius: 0;
    width: auto;

    &:focus {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }

  code {
    color: #ccc;
    background-color: #333;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
  }
}
