nav {
  z-index: 999;
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: $sppd;
  display: inline-flex;
  box-shadow: 0px 1px 0px 2px rgba($sppd, 0.5);
  -webkit-box-shadow: 0px 1px 0px 2px rgba($sppd, 0.5);
  -moz-box-shadow: 0px 1px 0px 2px rgba($sppd, 0.5);
  transition: background-color 500ms, box-shadow 500ms;
  -webkit-transition: background-color 500ms, box-shadow 500ms;

  &.trans {
    background-color: rgba($sppd, 0);
    box-shadow: 0px 1px 0px 2px rgba($sppd, 0);
    -webkit-box-shadow: 0px 1px 0px 2px rgba($sppd, 0);
    -moz-box-shadow: 0px 1px 0px 2px rgba($sppd, 0);
  }

  img {
    height: 60px;
    padding: 10px;
  }

  ul {
    align-content: center;
    height: 100%;
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: left;
    padding-top: 17px;
    padding-left: 15px;
    padding-bottom: 19px;

    &.lang:hover {
      #language-dropdown {
        display: block;
      }
    }
  }

  #dropdown {
    padding-top: 14px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    display: none;
  }

  li a, li Link {
    color: white !important;
    cursor: pointer;
    transition: opacity 200ms;

    &.support {
      color: #FFEB3B !important;
      font-weight: 500;
    }

    &:hover {
      opacity: 0.5;
      text-decoration: none;
    }
  }

  #language-dropdown-container {
    float: right;
    @media (max-width: 767px){
      float: none;
    }
  }

  #language-dropdown {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 10px 0 10px 10px;
    -webkit-box-shadow: rgba(0,0,0,.1) 0 1px 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateX(-100%);
    margin-top: 32px;
    min-width: 250px;

    ul {
      float: none;
      li {
        float: none;
        padding-right: 30px;
        &:last-child {
          padding-bottom: 17px;
        }
        a {
          color: $darkgrey!important;
          img {
            height: 24px;
            padding: 0;
            transform: translateY(-2px);
            margin-right: 10px;
          }
        }
      }
    }
  }

  @media (max-width: 767px){
    ul {
      display:none;
    }

    #dropdown {
      display: inline-block;
    }

    &.dropped {
      height: auto;
      transition: height 2s;
      -webkit-transition: height 2s;
  
      #language-dropdown {
        transform: translateX(0px);
        margin-top: 10px;
        border-radius: 0px 10px 10px 10px;
        max-height: calc(100vh - 370px);
        ul {
          overflow-y: scroll;
          overflow-x: hidden;
        }
      }

      ul, li {
        float:none;
      }
  
      ul {
        display: block;
        padding-bottom: 20px;
      }
    }
  }
}