#news {
  display:none;
  border-bottom: 5px solid $lightgrey;
  background-color: #fcfcfc;

  .divider {
    height: 5px;
    display: block;
    background-color: $sppd;
    margin: 1em 0;
    width: 67px;
  }

  @media (min-width: 576px){
    margin-left: -15px!important;
    margin-right: -15px!important;
  }
}