#!/bin/bash

# Set the following environment variables here
# In the future, you will be able to download a personalised config from: https://feinwaru.com/

# Example
export TEST_ENV1=test1
export TEST_ENV2="test 2"

# Info and credentials for the mongo db to clone
export CLONE_MONGO_USER=
export CLONE_MONGO_PASS=
export CLONE_MONGO_HOST=
export CLONE_MONGO_AUTHDB=

# Webserver mongo credentials. Leave black for development.
# MONGO_HOST defaults to 'localhost'
# MONGO_AUTHDB defaults to 'admin'
export MONGO_USER=
export MONGO_PASS=
export MONGO_HOST=
export MONGO_AUTHDB=

# Webserver variables
export WEBSERVER_PORT=
export API_TOKEN=
