/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap.scss";
@import "/assets/css/fa_all.scss";
//Imports
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

body {
    font-family: "Roboto", "sans-serif";
    background-color: #eee;
}

//MDB Shit
.light-blue-text  {
    color: #03a9f4!important;
}

.red-text {
    color: #f44336!important;
}

.orange-text {
    color: #ff9800!important;
}